body {
  margin:0px;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  background-image:none;
  position:relative;
  left:-10px;
  width:1166px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8954 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:60px;
  width:1166px;
  height:627px;
  font-size:12px;
}
#u8955 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:306px;
  width:1162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8956 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u8956_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u8956_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8958 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1166px;
  height:50px;
  overflow:hidden;
}
#u8958_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
}
#u8958_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8959 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u8959_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u8959_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8960 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:178px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8960_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u8960.selected {
}
#u8961 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u8963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:101px;
}
#u8964 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:697px;
  width:1166px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1162px;
  word-wrap:break-word;
}
#u8968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 168, 215, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8970 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:219px;
  width:402px;
  height:34px;
}
#u8971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:398px;
  word-wrap:break-word;
}
#u8972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u8972 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:225px;
  width:15px;
  height:22px;
}
#u8973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:141px;
}
#u8975 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:332px;
  width:211px;
  height:141px;
}
#u8976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8977 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:483px;
  width:211px;
  height:18px;
  text-align:center;
}
#u8978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u8979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:141px;
}
#u8980 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:332px;
  width:224px;
  height:141px;
}
#u8981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8982 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:483px;
  width:224px;
  height:18px;
  text-align:center;
}
#u8983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u8984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:140px;
}
#u8985 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:332px;
  width:224px;
  height:140px;
}
#u8986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8987 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:482px;
  width:224px;
  height:18px;
  text-align:center;
}
#u8988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u8989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:141px;
}
#u8990 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:332px;
  width:211px;
  height:141px;
}
#u8991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8992 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:483px;
  width:211px;
  height:18px;
  text-align:center;
}
#u8993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u8994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8994 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:377px;
  width:50px;
  height:50px;
}
#u8995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8996 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:377px;
  width:50px;
  height:50px;
}
#u8997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
