body {
  margin:0px;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  background-image:none;
  position:relative;
  left:-0px;
  width:1176px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:631px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3082 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:60px;
  width:1166px;
  height:631px;
  font-size:12px;
}
#u3083 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:308px;
  width:1162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3084 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u3084_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u3084_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3086 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1166px;
  height:50px;
  overflow:hidden;
}
#u3086_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
}
#u3086_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3087 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u3087_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u3087_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3088 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:178px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3088_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3088.selected {
}
#u3089 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u3090 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:146px;
  width:1166px;
  height:529px;
}
#u3090_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:529px;
  overflow:auto;
}
#u3092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:101px;
}
#u3093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:697px;
  width:1166px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u3094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1162px;
  word-wrap:break-word;
}
#u3097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(252, 252, 252, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3100 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:70px;
  width:35px;
  height:22px;
  font-size:12px;
}
#u3100_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(252, 252, 252, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3100.mouseOver {
}
#u3100_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3100.selected {
}
#u3101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u3102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(252, 252, 252, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3102 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:70px;
  width:35px;
  height:22px;
  font-size:12px;
}
#u3102_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(252, 252, 252, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3102.mouseOver {
}
#u3102_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3102.selected {
}
#u3103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u3104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(252, 252, 252, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3104 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:70px;
  width:35px;
  height:22px;
  font-size:12px;
}
#u3104_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(252, 252, 252, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3104.mouseOver {
}
#u3104_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3104.selected {
}
#u3105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u3106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(252, 252, 252, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3106 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:70px;
  width:51px;
  height:22px;
  font-size:12px;
}
#u3106_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(252, 252, 252, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3106.mouseOver {
}
#u3106_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3106.selected {
}
#u3107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u3108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(252, 252, 252, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3108 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:70px;
  width:35px;
  height:22px;
  font-size:12px;
}
#u3108_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(252, 252, 252, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3108.mouseOver {
}
#u3108_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3108.selected {
}
#u3109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u3110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(252, 252, 252, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3110 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:70px;
  width:35px;
  height:22px;
  font-size:12px;
}
#u3110_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(252, 252, 252, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3110.mouseOver {
}
#u3110_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3110.selected {
}
#u3111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u3112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3114 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:70px;
  width:117px;
  height:22px;
}
#u3114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3114_input:disabled {
  color:grayText;
}
#u3115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3115 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:70px;
  width:117px;
  height:22px;
  font-size:12px;
}
#u3116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3118 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:70px;
  width:117px;
  height:22px;
}
#u3118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3118_input:disabled {
  color:grayText;
}
#u3119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3119 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:70px;
  width:117px;
  height:22px;
  font-size:12px;
}
#u3120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3121 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:70px;
  width:100px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u3122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u3123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3124 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:70px;
  width:134px;
  height:22px;
}
#u3124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3124_input:disabled {
  color:grayText;
}
#u3125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3125 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:70px;
  width:134px;
  height:22px;
}
#u3126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3128 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:70px;
  width:134px;
  height:22px;
}
#u3128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3128_input:disabled {
  color:grayText;
}
#u3129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3129 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:70px;
  width:134px;
  height:22px;
}
#u3130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3132 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:70px;
  width:99px;
  height:22px;
}
#u3132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3132_input:disabled {
  color:grayText;
}
#u3133 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:104px;
  width:100px;
  height:18px;
}
#u3134 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3133_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3136 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:102px;
  width:134px;
  height:22px;
}
#u3136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3136_input:disabled {
  color:grayText;
}
#u3137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3137 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:102px;
  width:134px;
  height:22px;
}
#u3138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3140 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:102px;
  width:134px;
  height:22px;
}
#u3140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3140_input:disabled {
  color:grayText;
}
#u3141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3141 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:102px;
  width:134px;
  height:22px;
}
#u3142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3143 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:226px;
  width:296px;
  height:116px;
}
#u3144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u3145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3145 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:226px;
  width:59px;
  height:18px;
}
#u3146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3147 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:93px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#00CB6A;
}
#u3147_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u3147_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:125px;
}
#u3147_seg2 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:113px;
  width:339px;
  height:8px;
}
#u3147_seg3 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:113px;
  width:8px;
  height:49px;
}
#u3147_seg4 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:154px;
  width:52px;
  height:8px;
}
#u3148 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:109px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3149 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:260px;
  width:59px;
  height:18px;
}
#u3150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:2px;
}
#u3151 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:234px;
  width:28px;
  height:1px;
}
#u3152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:2px;
}
#u3153 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:269px;
  width:28px;
  height:1px;
}
#u3154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3155 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:159px;
  width:303px;
  height:48px;
  color:#FF0000;
}
#u3156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  word-wrap:break-word;
}
#u3157 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:92px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#00CB6A;
}
#u3157_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u3157_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:43px;
  width:248px;
  height:8px;
}
#u3157_seg2 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:43px;
  width:8px;
  height:42px;
}
#u3157_seg3 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:77px;
  width:5px;
  height:8px;
}
#u3158 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3159 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:16px;
  width:851px;
  height:18px;
  color:#FF0000;
}
#u3160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  white-space:nowrap;
}
#u3161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3161 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:377px;
  width:303px;
  height:151px;
  color:#FF0000;
}
#u3162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  word-wrap:break-word;
}
#u3163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3163 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:102px;
  width:512px;
  height:23px;
  font-size:20px;
  color:#000000;
}
#u3164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  white-space:nowrap;
}
